html,
body {
	height: 100%;
	background-color: #000;
	background-image: url('logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	background-size: 2x;
}

form legend {
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	background: #f4426e;
	color: grey;
	border-radius: 0.5rem;
}
form fieldset {
	border: 1px groove grey !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

navbar{
	color: black;
}

#logo-img{
	align-self: center;
	margin-left: 140%;
}

h1{
	color: white;
	text-align: center;
	align-self: center;
}

.file-upload {
	background-color: black;
	width: 20rem;
	height: 20rem;
	padding: 1rem;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	border: 4px dashed cyan;
	width: 100%;
	height: 100%;
	position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: cyan;
	border: 4px dashed grey;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: white;
	padding: 60px 0;
}

.file-upload-image {
	height: 15rem;
	width: 15rem;
	padding: 0.5rem;
}

.remove-image {
	width: 15rem;
	height: 2rem;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 0.5px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
	text-overflow: ellipsis;
	overflow: hidden;
}

.remove-image:hover {
	background: #c13b2a;
	color: grey;
	transition: all 0.2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
}

#result-img{
	outline-color: cyan ;
}